name: Fetch stats

on:
  push:
    branches: [ master ]
  schedule:
    - cron: "0 1 * * *"

jobs:
  fetch-stats:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Set up Node 16
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm -w @datagd/bots test

      - name: Checkout data branch
        uses: actions/checkout@v3
        with:
          ref: data
          path: data

      - name: Fetch data
        run: npm -w @datagd/bots run fetch:stats

      - name: Get current time
        uses: gerred/actions/current-time@master
        id: current-time

      - name: Publish
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: data
          keep_history: true
          allow_empty_commit: false
          build_dir: data
          commit_message: "Auto data update ${{ steps.current-time.outputs.time }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
