name: Fetch stats

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

concurrency:
  group: fetch-stats
  cancel-in-progress: true

jobs:
  fetch-stats:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout project
        uses: actions/checkout@v3

      - name: Set up Node 16
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Checkout data branch
        uses: actions/checkout@v3
        with:
          ref: data
          path: data

      - name: Fetch data
        run: npm -w @cdata/bots run script scripts/stats

      - name: Get current time
        uses: gerred/actions/current-time@master
        id: current-time

      - name: Publish
        uses: crazy-max/ghaction-github-pages@v2
        with:
          target_branch: data
          keep_history: true
          allow_empty_commit: false
          build_dir: data
          commit_message: "Update stats ${{ steps.current-time.outputs.time }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Deploy
        run: gh workflow run deploy.yml -F force_run=true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
